<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JvtLogTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <JvtLogTool.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>192.168.1.88</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>jvtsmart123</value>
            </setting>
            <setting name="IsSyslog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSetconsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsWeb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOtherFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OtherFilePath" serializeAs="String">
                <value />
            </setting>
        </JvtLogTool.Properties.Settings>
    </userSettings>
</configuration>